<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- test.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/home.css}" >-->
</th:block>
<!-- test.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <form class="container" th:action="@{/articles/create}" method="post">
    <div class="mb3">
      <label class="form-label">제목</label>
      <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
      <label class="form-label">내용</label>
      <textarea class="form-control" row="3" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/articles">Back</a>
  </form>
</div>
</html>