<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- test.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/home.css}" >-->
</th:block>
<!-- test.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" th:text="${dto.id}">1</th>
            <td th:text="${dto.title}">제목111</td>
            <td th:text="${dto.content}">내용 1111</td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/articles/{id}/update(id=${dto.id})}" class="btn btn-primary">Edit</a>
    <a th:href="@{/articles/{id}/delete(id=${dto.id})}" class="btn btn-danger">Delete</a>
    <a href="/articles">Go to Article List</a>
</div>
</html>